# Ignore Node.js dependencies
frontend/node_modules/
frontend/.turbo/
frontend/.parcel-cache/
frontend/dist/

# Ignore Python virtual environments and cache
backend/venv/
backend/__pycache__/
backend/.pytest_cache/

# Ignore build artifacts
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db

# Ignore environment variables
.env
backend/.env
frontend/.env

# Ignore Docker build files
**/Dockerfile
**/docker-compose.override.yml

# Ignore VS Code and JetBrains IDE files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
